body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/018/990/233/non_2x/3d-blue-mockup-web-site-poster-for-online-support-center-services-with-white-questions-signs-with-answers-quiz-faq-design-illustration-vector.jpg');
}

form {
    width: 300px;
    margin: 150px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #008080;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005353;
}

a {
    text-decoration: none;
    color: #008080;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    color: #005353;
}
